- title 'Meal Plan Comparison'
%link{:type => "text/css", :rel => "stylesheet", :href => "/mealplan infographics/mealplan.css.scss"}
%link{:href => "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}
%script{:src="http://d3js.org/d3.v3.min.js"}
%script{:src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"}
%script{:src="/mealplan infographics/mealplan.js"}
%body
  #option
    .col-md-6.col-md-offset-3
      / toggle buttons for displayed data
      #dataselect.toggle-btn-grp
        %label.toggle-btn{:onclick => ""}
          %input{:name => "group2", :type => "radio"}>All
        %label.toggle-btn{:onclick => ""}
          %input{:name => "group2", :type => "radio"}>Freshman
        %label.toggle-btn{:onclick => ""}
          %input{:name => "group2", :type => "radio"}>Columbia
        %label.toggle-btn{:onclick => ""}
          %input{:name => "group2", :type => "radio"}>Barnard